# 以下の環境変数を設定してください
SECRET=""
GITHUB_APP_PRIVKEY=""
GITHUB_OAUTH_SECRET=""
GITHUB_OAUTH_ID=""

# ----- 以下は必要に応じて設定してください ----- #
# IdP OAuth の開発
PRIVKEY_FOR_OAUTH=""

# Discord 関連の開発
DISCORD_OAUTH_ID=""
DISCORD_OAUTH_SECRET=""
DISCORD_BOT_TOKEN=""
DISCORD_GUILD_ID=""
DISCORD_CALENDAR_CHANNEL_ID=""

# 通知系
CALENDAR_NOTIFY_WEBHOOK_URL=""

# その他
DISCORD_INVITATION_URL=""
